#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #1D1D1D;
  margin: 0px;
  height: 100vh;
}
.Main_Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('./website\ background.png');
}
.Gradient_Cover {
  width: 100vw;
  background: rgb(255,255,255);
  background: linear-gradient(235deg, rgba(255,255,255,0) 0%, rgba(255,8,33,0.19) 93%, rgba(255,78,0,0.21) 100%);
}
.Content_Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.Text_Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}
.Main-Accent-Outline {
  height: 60px;
  width: 250px;
  border-radius: 22.5px;
  background-color: #2A2A2A;
  border:#FF7F3D 2px solid;
  font-family: urbane-rounded,sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #FF7F3D;
  font-size: 30px;
  margin-top: 100px;
  transition-duration: 100ms;
}
.Text {
  margin: 0;
  font-size: 80px;
  color:#FF7F3D
}
.Bold {
  font-family: good-times,sans-serif;
  font-weight: 900;
  font-style: normal;
}
.Light {
font-family: urbane-rounded,sans-serif;
font-weight: 300;
font-style: normal;
}
.Main_button:hover {
  transform: translate(-2px, -2px);
}